[Unit]
Description=MediocreSync
After=network.target

[Service]
ExecStart=/usr/local/bin/mediocresync
Restart=on-failure
RestartSec=5

User=mediocresync
Group=mediocresync

Environment=LISTEN_ADDR=:5000
Environment=DB_PATH=/var/lib/mediocresync/mediocresync.db

StateDirectory=mediocresync

[Install]
WantedBy=multi-user.target
